.photoPost {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-bottom: 2rem;
}

.file {
    display: grid;
    gap: 6px;
    margin: 1rem 0;
}

.preview {
    border-radius: 1rem;
    background-size: cover;
    background-position: center center;
}

.preview::after {
    content: '';
    display: block;
    height: 0px;
    padding-bottom: 100%;
    
}

.textarea {
    display: block;
    width: 100%;
    font-size: 1rem;
    font-family: var(--type-first);
    resize: none;
    border: 1px solid #eee;
    padding: .5rem;
    border-radius: .2rem;
    background-color: #eee;
    transition: .2s;
    height: 120px;
}

.textarea:focus,
.textarea:hover {
    outline: none;
    border-color: var(--primary-color);
    background-color: white;
    box-shadow: 0 0 0 3px var(--secondary-color);
}

.inputGroup{
    display: grid;
    gap: 6px;
}