.wrapper {
    display: grid;
    height: 100%;
    width: 100%;
}

.img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    grid-area: 1/1;
    opacity: 0;
    transition: .2s;
}

@media (max-width: 1024px) {
    .img {
        max-height: 300px;
    }
}

.skeleton {
    grid-area: 1/1;
    height: 100%;
    background-image: linear-gradient(90deg, #eee 0px, #fcfcfc 50%, #eee 100%);
    background-color: #eee;
    background-size: 200%;
    animation: skeleton 1.5s infinite linear;
}

@keyframes skeleton {
    from {
        background-position: 0;
    }
    to {
        background-position: -200%;
    }
}